body {
  background: rgba(96, 185, 249, 0.876);
  margin: 2px; 
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Lexend, sans-serif;
}

* {
  color: white;
}


.experience {
  margin-left: 110px;
}

.resume {
  width: 900px;
  max-width: 95%;
}


.top {
  display: flex;
  flex-direction: column;   
  align-items: center;
  gap: 17px;
  text-align: center;
}

.name {
  text-align: center;
}


.certs {
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.certs ul {
  list-style-position: inside;
  padding-left: 0;
}


.education {
  text-align: center;
  max-width: 240px;
  width: 100%;
  margin-left: -90px;
}


@media print {
  @page {
    size: landscape;
    margin: 0.5in;
  }

  body {
    background: rgba(96, 185, 249, 0.876);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    margin: 0;
    display: block;
  }

  .top {
    flex-direction: row;          
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    text-align: left;
  }

  .education {
    text-align: left;
  }

  .certs {
    text-align: left;
  }
}
