body {
  background-color: black;
  margin: 0;
  min-height: 100vh;
  font-family: Lexend, sans-serif;

  display: flex;
  justify-content: center;
}

* {
  color: white;
  box-sizing: border-box;
}

.resume {
  width: 900px;
  max-width: 95%;
  padding: 16px;
}

.top {
  display: flex;
  flex-direction: column;   
  align-items: center;
  gap: 20px;
  text-align: center;
}


.name,
.certs,
.education {
  width: 100%;
  max-width: 320px;
}


.certs ul {
  list-style-position: inside;
  padding: 0;
  margin: 8px 0 0;
}


.experience {
  margin-top: 24px;
}

.experience ul {
  padding-left: 18px;
}

.experience p {
  margin-top: 16px;
  margin-bottom: 6px;
}


@media (min-width: 900px) {

  body {
    display: block;
    margin: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .top {
    flex-direction: row;         
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 40px;
  }

  .name {
    flex: 1.2;               
  }

  .certs,
  .education {
    flex: 1;
    max-width: none;
  }
}

